##### Quality

TBD
<%#
* Still largely concentrates on growing themselves.
* Seeks out opportunities to expand their technical and non technical skills through continuous learning practices.
* Often works with other team members to grow their own understanding of the team’s domain through code reviews, pair programming or mentoring sessions.
* Participates in [code reviews](https://docs.gitlab.com/ee/development/code_review.html) and uses [best practices](https://docs.gitlab.com/ee/development/code_review.html#best-practices) when giving and receiving [feedback](/handbook/people-group/guidance-on-feedback/).
* Provides additional feedback whenever possible (i.e. [360s](/handbook/people-group/360-feedback/), Pulse, etc).
* Communicates clearly and effectively, especially in writing, when working with peers, stable counterparts or their manager on technical tasks or issues.
* Adheres to the [GitLab communication guidelines](/handbook/communication/).
* Seeks assistance in clearly managing expectations around the delivery of their work.
* Delivers work given clear requirements within the context of their team.
* Makes responsible decisions in alignment with GitLab's [CREDIT values](/handbook/values/) by ideating options, identifying the consequences of each option, evaluating trade-offs and seeking advice from others when necessary.
* Thinks critically by understanding why something needs to be done, determining the root cause of the problem, identifying objectives and examining previous efforts.
* Remains calm under pressure.
* Demonstrates knowledge about how their work aligns with their [Product section, stages, groups and categories](/handbook/product/categories/).
* Works effectively within established processes, and keeps themselves current as processes change.
* Seeks to understand how their work integrates with processes across the company.
%>
